In [2]:
import pandas as pd

In [4]:
bitcoin = pd.read_excel(r'/Users/bokyannchou/Documents/ANL488_Git/Data/Gemini_BTCUSD_1h.xlsx')
sentiment= pd.read_csv(r'/Users/bokyannchou/Documents/ANL488_Git/Data/reddit_sentiment_analysis.csv')

In [5]:
bitcoin.head(5)

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD,SMA_7,...,H-PC,L-PC,TR,ATR,close_%,high_%,low_%,open_%,volume_btc_%,volume_usd_%
0,1487746800,2017-02-22 07:00:00,BTC/USD,1112.65,1112.65,1112.64,1112.65,6.842636,7613.459048,NaN,...,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1487750400,2017-02-22 08:00:00,BTC/USD,1112.65,1112.65,1111.67,1111.70,72.034206,80080.426510,NaN,...,0.00,0.98,0.98,NaN,-0.000854,0.000000,-0.000872,0.000000,9.527259,9.518271
2,1487754000,2017-02-22 09:00:00,BTC/USD,1111.70,1111.70,1111.64,1111.65,6.190303,6881.450419,NaN,...,0.00,0.06,0.06,NaN,-0.000045,-0.000854,-0.000027,-0.000854,-0.914064,-0.914068
3,1487757600,2017-02-22 10:00:00,BTC/USD,1111.65,1113.12,1111.65,1113.12,5.975156,6651.065563,NaN,...,1.47,0.00,1.47,NaN,0.001322,0.001277,0.000009,-0.000045,-0.034756,-0.033479
4,1487761200,2017-02-22 11:00:00,BTC/USD,1113.12,1118.49,1113.12,1115.51,44.767128,49938.179067,NaN,...,5.37,0.00,5.37,NaN,0.002147,0.004824,0.001322,0.001322,6.492211,6.508298

In [6]:
sentiment.head(5)

         date  hour  sentiment_score_avg  positive_count  negative_count
0  2017-01-04    12             0.949070              11              21
1  2017-01-04    13             0.935518              22              50
2  2017-01-04    14             0.906919              13              22
3  2017-01-04    15             0.955167               5              12
4  2017-01-04    16             0.956778               7              26

In [7]:
bitcoin.dropna(inplace=True)

In [12]:
#seperate bitcoin date and time from date column where datecolumn is alrdy in datetime format
bitcoin['date'] = pd.to_datetime(bitcoin['date'])
bitcoin['hour'] = bitcoin['date'].dt.hour

In [14]:
# merge the two dataframes on date and hour
merged = pd.concat([bitcoin, sentiment], axis=1, join='inner')

In [ ]:
meged.to_csv(r'/Users/bokyannchou/Documents/ANL488_Git/Data/merged_data.csv')